img{
    width: 300px;
}   
body {
    font-family: Arial, serif;
    margin: 0;
    padding: 0;
    background-color:red;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    margin-bottom: 30px;
}
.menu-item {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}
.menu-item:last-child {
    border-bottom: none;
}
.menu-item h2 {
    margin-top: 0;
}
.menu-item p {
    margin-bottom: 5px;
}
.menu-item .price {
    font-weight: bold;
    color: #007bff;
}
#cart {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
#cart p {
    margin-bottom: 5px;
}
#total {
    font-weight: bold;
    color: #007bff;
}
.menu-item{
background-color: yellow;
}